---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="Home">
  <section class="intro-section">
    <h1>A Record of an Intellectual Journey</h1>
    <p>
      This is a digital archive of my academic research, personal projects, and musings.
    </p>
  </section>
</MainLayout>
