---
import { siteConfig } from "@/data/site";
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <p>&copy; {currentYear}. {siteConfig.author}. All Rights Reserved.</p>
    <p style="font-size: 0.8rem; opacity: 0.7;">Powered by Astro</p>
  </div>
</footer>
