---
import Navigation from "./Navigation.astro";
import { siteConfig } from "@/data/site";
---

<header class="site-header">
  <div class="container">
    <a href="/research-portfolio/" class="site-title"
      >{siteConfig.headerTitle}</a
    >
    <Navigation />
  </div>
</header>
