---
import Navigation from './Navigation.astro';
const siteTitle = "Yellu's Library"; // Your site title
---

<header class="site-header">
  <a href="/research-portfolio/" class="site-title">{siteTitle}</a>
  <Navigation />
</header>
