---
const navLinks = [
  { href: '/research-portfolio/paper-reviews', text: 'Paper Reviews' },
  { href: '/research-portfolio/personal-projects', text: 'Personal Project' },
  // { href: "/studies", text: "Study" },
  // { href: "/writings", text: "Writings" },
  { href: '/research-portfolio/cv', text: 'CV' },
  { href: '/research-portfolio/about', text: 'About' },
];
---

<nav>
  {navLinks.map((link) => <a href={link.href}>{link.text}</a>)}
</nav>
