---
import FolderIcon from "./icons/FolderIcon.astro";
import ListIcon from "./icons/ListIcon.astro";
---

<div class="view-toggle-container">
  <div class="view-toggle" id="view-toggle">
    <div class="view-toggle-slider"></div>
    <div class="view-toggle-option active" data-view="folder">
      <FolderIcon />
      <span>Folder</span>
    </div>
    <div class="view-toggle-option" data-view="list">
      <ListIcon />
      <span>List</span>
    </div>
  </div>
</div>
